*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 5%;
    background-color: whitesmoke;
}

.tous{
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 5px 5px 15px  0 black  ;
   margin-left: 25%;
   margin-right: 25%;
}

.one, .two{
    display: flex;
    width: 100%;
}

.numero, .nom{
    margin-left: 30%;
}
input{
   height: 7vh;
   width: 200%;
   border-radius: 5px;
   padding-left: 3px;
}


label{
    margin: 20px 0;
    border-radius: 5px;
    font-size: 22px;
}

.button{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 22px;
    background-color: green;
    border: none;
    border-radius: 5px;
}